apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: helse-spleis
  namespace: tbd
  labels:
    team: tbd
spec:
  image: {{image}}
  port: 8080
  strategy:
    type: Recreate
  liveness:
    path: isalive
    initialDelay: 5
  readiness:
    path: isready
    initialDelay: 5
  resources:
    limits:
      cpu: 2000m
      memory: 1024Mi
    requests:
      cpu: 50m
      memory: 512Mi
  replicas:
    min: 1
    max: 1
    cpuThresholdPercentage: 90
  prometheus:
    enabled: true
    path: /metrics
  kafka:
    pool: nav-dev
  gcp:
    sqlInstances:
      - type: POSTGRES_14
        diskAutoresize: true
        databases:
          - name: spleis
            envVarPrefix: DATABASE
            users:
              - name: spleis-api
              - name: spleis-opprydding-dev
              - name: spleis-avstemming
  secureLogs:
    enabled: true
  env:
  - name: KAFKA_RAPID_TOPIC
    value: tbd.rapid.v1
  - name: KAFKA_CONSUMER_GROUP_ID
    value: tbd-spleis-v1
  - name: KAFKA_RESET_POLICY
    value: earliest
  - name: GraphQLPlayground
    value: "true"
  - name: AVSLUTT_INGEN_UTBETALING
    value: "false"
  - name: NY_TILSTANDSFLYT
    value: "true"
