apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: helse-spleis
  namespace: tbd
  labels:
    team: tbd
spec:
  image: {{image}}
  port: 8080
  strategy:
    type: Recreate
  liveness:
    path: isalive
    initialDelay: 5
  readiness:
    path: isready
    initialDelay: 5
  resources:
    limits:
      memory: 1024Mi
    requests:
      cpu: 50m
      memory: 512Mi
  replicas:
    min: 1
    max: 1
    cpuThresholdPercentage: 90
  prometheus:
    enabled: true
    path: /metrics
  kafka:
    pool: nav-dev
  accessPolicy:
    outbound:
      rules:
        - application: logging
          namespace: nais-system
  gcp:
    sqlInstances:
      - type: POSTGRES_17
        diskAutoresize: true
        tier: db-f1-micro
        databases:
          - name: spleis
            envVarPrefix: DATABASE
            users:
              - name: spleis-api
              - name: spleis-opprydding-dev
              - name: spleis-avstemming
              - name: spleis-migrate
    permissions:
      - resource:
          apiVersion: resourcemanager.cnrm.cloud.google.com/v1beta1
          kind: Project
        role: roles/cloudprofiler.agent
  env:
    - name: KAFKA_RAPID_TOPIC
      value: tbd.rapid.v1
    - name: KAFKA_CONSUMER_GROUP_ID
      value: tbd-spleis-v1
    - name: KAFKA_RESET_POLICY
      value: EARLIEST
    - name: IDENTBYTTE
      value: "true"
    - name: SEND_FERIEPENGEOPPDRAG
      value: "true"
    - name: JORDBRUKER
      value: "true"
    - name: SELVSTENDIG_FORSIKRING
      value: "true"
    - name: JAVA_TOOL_OPTIONS
      value: "-agentpath:/opt/cprof/profiler_java_agent.so=-cprof_service=spleis,-cprof_project_id=tbd-dev-7ff9,-logtostderr,-minloglevel=1"
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
