apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: spleis
  namespace: tbd
  labels:
    team: tbd
spec:
  image: {{image}}
  port: 8080
  strategy:
    type: Recreate
  liveness:
    path: isalive
    initialDelay: 5
  readiness:
    path: isready
    initialDelay: 5
  resources:
    limits:
      cpu: 2000m
      memory: 1024Mi
    requests:
      cpu: 50m
      memory: 512Mi
  replicas:
    min: 1
    max: 1
    cpuThresholdPercentage: 90
  prometheus:
    enabled: true
    path: /metrics
  webproxy: true
  kafka:
    pool: nav-dev
  vault:
    enabled: true
  secureLogs:
    enabled: true
  env:
  - name: KAFKA_RAPID_TOPIC
    value: tbd.rapid.v1
  - name: KAFKA_CONSUMER_GROUP_ID
    value: tbd-spleis-v1
  - name: KAFKA_RESET_POLICY
    value: earliest
  - name: DATABASE_HOST
    value: b27dbvl008.preprod.local
  - name: DATABASE_PORT
    value: "5432"
  - name: DATABASE_NAME
    value: spleis
  - name: VAULT_MOUNTPATH
    value: postgresql/preprod-fss/
  - name: REVURDER_UTBETALT_PERIODE_TOGGLE
    value: "true"
  - name: REVURDER_TIDLIGERE_PERIODE
    value: "true"
  - name: SPEIL_API_V2
    value: "true"
  - name: LAGE_BRUKERUTBETALING
    value: "true"
