apiVersion: nais.io/v1
kind: Naisjob
metadata:
  labels:
    team: tbd
    db: spleis # trengs bare ifm. 'spleis-db-policy'
  name: spleis-migrate
  namespace: tbd
spec:
  image: {{ image }}
  parallelism: 30
  resources:
    limits:
      memory: 4096Mi
      cpu: 4000m
    requests:
      cpu: 200m
  kafka:
    pool: {( kafka_pool }}
  secureLogs:
    enabled: true
  envFrom:
    - secret: {{ gcp_sql_secret_name }}
  gcp:
    permissions:
      - resource:
          apiVersion: resourcemanager.cnrm.cloud.google.com/v1beta1
          kind: Project
          name: {{ gcp_project_id }}
        role: roles/cloudsql.client
  env:
    - name: DATABASE_REGION
      value: "europe-north1"
    - name: DATABASE_INSTANCE
      value: {{ database_instance }}
    - name: RUNTIME_OPTS
      value: "{{ job_name }} {{ job_id }}"      # [job_id] er en tekst du bestemmer selv, den må bare ikke finnes i <arbeidstabellen> fra før
                                                # Etter at migreringen er ferdig kan det være greit å slette fra arbeidstabellen etterpå
