apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: spleis
  namespace: tbd
  labels:
    team: tbd
spec:
  image: {{image}}
  port: 8080
  strategy:
    type: Recreate
  liveness:
    path: isalive
    initialDelay: 5
  readiness:
    path: isready
    initialDelay: 5
  resources:
    limits:
      cpu: 4000m
      memory: 6Gi
    requests:
      cpu: 500m
      memory: 2Gi
  replicas:
    min: 6
    max: 18
    cpuThresholdPercentage: 75
  prometheus:
    enabled: true
    path: /metrics
  webproxy: true
  kafka:
    pool: nav-prod
  vault:
    enabled: true
    paths:
      - mountPath: /var/run/secrets/nais.io/service_user
        kvPath: /serviceuser/data/prod/srvspleis
  secureLogs:
    enabled: true
  env:
  - name: KAFKA_RAPID_TOPIC
    value: tbd.rapid.v1
  - name: KAFKA_CONSUMER_GROUP_ID
    value: tbd-spleis-v1
  - name: KAFKA_RESET_POLICY
    value: none
  - name: DATABASE_HOST
    value: a01dbfl039.adeo.no
  - name: DATABASE_PORT
    value: "5432"
  - name: DATABASE_NAME
    value: spleis2
  - name: VAULT_MOUNTPATH
    value: postgresql/prod-fss/
  - name: REVURDER_TIDLIGERE_PERIODE
    value: "true"
