apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: spleis-api
  namespace: tbd
  labels:
    team: tbd
    db: spleis # trengs bare ifm. 'spleis-db-policy'
spec:
  image: {{image}}
  port: 8080
  ingresses:
   - https://spleis-api.intern.nav.no
  liveness:
    path: /isalive
    initialDelay: 5
  readiness:
    path: /isready
    initialDelay: 5
  resources:
    limits:
      memory: 5Gi
    requests:
      cpu: 100m
      memory: 256Mi
  replicas:
    min: 2
    max: 6
    cpuThresholdPercentage: 75
  gcp:
    permissions:
      - resource:
          apiVersion: resourcemanager.cnrm.cloud.google.com/v1beta1
          kind: Project
        role: roles/cloudsql.client
  prometheus:
    enabled: true
    path: /metrics
  webproxy: true
  azure:
    application:
      enabled: true
      claims:
        extra:
          - "NAVident"
        groups:
          - id: "611669fa-de5c-4dc2-a0e8-6041a019992a" # speil-brukere
          - id: "f787f900-6697-440d-a086-d5bb56e26a9c" # tbd
          - id: "c0227409-2085-4eb2-b487-c4ba270986a3" # nais-tbd
          - id: "382f42f4-f46b-40c1-849b-38d6b5a1f639" # sykepenger-spanner
  accessPolicy:
    inbound:
      rules:
        - application: spesialist
        - application: spanner
        - application: sporing
        - application: spekemat
    outbound:
      rules:
        - application: spurtedu
        - application: spekemat
  secureLogs:
    enabled: true
  envFrom:
    - secret: google-sql-spleis-spleis-spleis-api-e80c8e59
  env:
  - name: DATABASE_REGION
    value: "europe-north1"
  - name: DATABASE_INSTANCE
    value: "spleis2"
  - name: NyRevurdering
    value: "false"
  - name: SPEKEMAT_SCOPE
    value: "api://prod-gcp.tbd.spekemat/.default"

