name: Bygg pull request

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21.x'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
    - name: test and build
      run: ./gradlew test build
    - name: build docker image
      run: docker build . --pull
