name: Bygg og deploy jobs

on:
  push:
    branches:
    - master
    paths:
    - 'jobs/**'
    - 'build.gradle.kts'
    - '.github/workflows/**'
    - 'deploy/dev-gc-job.yml'
    - 'deploy/dev-avstemming-job.yml'
    - 'deploy/prod-gc-job.yml'
    - 'deploy/prod-avstemming-job.yml'

jobs:
  set_version:
    name: set image name
    runs-on: ubuntu-latest
    steps:
      - name: create docker tag
        run: echo "TAG=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_ENV
    outputs:
      image: docker.pkg.github.com/${{ github.repository }}/spleis-jobs:${{ env.TAG }}

  build:
    name: build docker image
    runs-on: ubuntu-latest
    needs: set_version
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '16.x'
      - name: test and build
        run: ./gradlew :jobs:test :jobs:build
      - name: build docker image
        run: docker build -f Dockerfile-jobs . --pull -t ${{ needs.set_version.outputs.image }}
      - name: push docker image
        run: |
          docker login --username "$GITHUB_REPOSITORY" -p ${{ secrets.GITHUB_TOKEN }} https://docker.pkg.github.com
          docker push ${{ needs.set_version.outputs.image }}

  deployDev:
      name: deploy to dev
      needs: [set_version, build]
      runs-on: ubuntu-latest
      steps:
          - uses: actions/checkout@v1
          - uses: nais/deploy/actions/deploy@v1
            env:
                APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
                CLUSTER: dev-fss
                RESOURCE: deploy/dev-gc-job.yml,deploy/dev-avstemming-job.yml
                IMAGE: ${{ needs.set_version.outputs.image }}

  deployProd:
      name: deploy to prod
      needs: [set_version, deployDev]
      runs-on: ubuntu-latest
      steps:
          - uses: actions/checkout@v1
          - uses: nais/deploy/actions/deploy@v1
            env:
                APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
                CLUSTER: prod-fss
                RESOURCE: deploy/prod-gc-job.yml,deploy/prod-avstemming-job.yml
                IMAGE: ${{ needs.set_version.outputs.image }}
