name: Spleis-api

on:
  push:
    branches:
    - master
    paths:
    - 'sykepenger-api/**'
    - 'sykepenger-api-dto/**'
    - 'sykepenger-model/**'
    - 'sykepenger-aktivitetslogg-dto/**'
    - 'sykepenger-model-dto/**'
    - 'sykepenger-primitiver-dto/**'
    - 'sykepenger-serde/**'
    - 'sykepenger-utbetaling-dto/**'
    - 'sykepenger-utbetaling/**'
    - 'build.gradle.kts'
    - 'settings.gradle.kts'
    - '.github/workflows/**'
    - 'deploy/dev-api.yml'
    - 'deploy/prod-api.yml'

env:
  ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    name: build docker image
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21.x'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: test and build
        run: ./gradlew :sykepenger-api:test :sykepenger-api:build
      - name: verifiser gyldig modell-jar
        run: unzip sykepenger-api/build/libs/sykepenger-model.jar -d /tmp/sykepenger-model
      - name: build docker image
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: tbd
          image_suffix: api
          dockerfile: Dockerfile
          docker_context: sykepenger-api
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
        env:
          TRIVY_JAVA_DB_REPOSITORY: "public.ecr.aws/aquasecurity/trivy-java-db:1"
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}

  deployDev:
    name: deploy to dev
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: deploy/dev-api.yml
          IMAGE: ${{ needs.build.outputs.image }}

  deployProd:
    name: deploy to prod
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: prod-gcp
          RESOURCE: deploy/prod-api.yml
          IMAGE: ${{ needs.build.outputs.image }}
