name: Opprydding dev

on:
  push:
    branches:
      - master
    paths:
      - 'sykepenger-opprydding-dev/**'
      - 'build.gradle.kts'
      - '.github/workflows/spleis-opprydding-dev.yml'
      - 'deploy/dev-opprydding.yml'

jobs:
  set_version:
    name: set image name
    runs-on: ubuntu-latest
    steps:
      - name: create docker tag
        run: echo "TAG=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_ENV
    outputs:
      image: docker.pkg.github.com/${{ github.repository }}/spleis-opprydding-dev:${{ env.TAG }}

  build:
    name: build docker image
    runs-on: ubuntu-latest
    needs: set_version
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17.x'
          cache: 'gradle'
      - name: test and build
        run: ./gradlew :sykepenger-opprydding-dev:test :sykepenger-opprydding-dev:build
      - name: build docker image
        run: docker build -f Dockerfile-opprydding-dev . --pull -t ${{ needs.set_version.outputs.image }}
      - name: push docker image
        run: |
          docker login --username "$GITHUB_REPOSITORY" -p ${{ secrets.GITHUB_TOKEN }} https://docker.pkg.github.com
          docker push ${{ needs.set_version.outputs.image }}

  snyk:
    name: check vulnerabilities
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Gradle vulnerability check
        uses: snyk/actions/gradle@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --project-name=spleis-opprydding-dev --org=tbd-ty7 --fail-on=all --configuration-matching='^runtimeClasspath'
          command: monitor

  deployDev:
    name: deploy to dev
    needs: [set_version, build, snyk]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: deploy/dev-opprydding.yml
          IMAGE: ${{ needs.set_version.outputs.image }}